flask==2.2.2
flask-dance[sqla]==6.2.0
flask-sqlalchemy==3.0.3
flask-login==0.6.2
blinker==1.4
python-dotenv==0.15.0
bootstrap-flask==2.2.0
flask-wtf==1.1.1
cryptography==39.0.2
pytz==2021.1
sphinx>=3.4.3
sphinx-rtd-theme>=0.5.1
sphinxcontrib-httpdomain>=1.7.0
