{% from 'bootstrap/form.html' import render_form %}
{% extends 'layout.html' %}

{% block content %}
<div class="container p-5">
    {% if current_user.is_authenticated %}
        You are logged in as {{ current_user.username }}.
        <a href="{{ url_for('logout') }}">Logout</a>
        <div class="pt-3">{{ render_form(form, action='/check') }}</div>
    {% else %}
        You are not logged in.
        <a href="{{ url_for('google.login') }}">Login with Google</a>
    {% endif %}
</div>
{% endblock %}
